.gameCanvasContainer {
  width: 100%;
  max-width: 420px;
  margin-bottom: 15px;
}

.gameCanvas {
  width: 100%;
  background-color: #444444;
  border: 4px solid var(--primary-color);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 255, 0, 0.2);
} 