.gameCanvasContainer {
  width: 100%;
  margin-bottom: 30px;
}

.gameCanvas {
  width: 100%;
  background-color: var(--road-color);
  border-radius: 12px;
  box-shadow: 0 0px 0px 4px var(--primary-color);
}



@media (max-width: 900px) {
  .gameCanvasContainer {
    margin-bottom: 5px;
  }
}